/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.header {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.inputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row1 h1 {
  font-size: 3rem;
  text-align: center;
  margin-left: 10px;
}
/* animacion e imagen de card*/

.img--card {
  width: 100%;
  height: 250px;
}

.slider-frame {
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  padding: 0px;
  height: auto;
  width: 300%;
  animation: slide 20s infinite alternate-reverse ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.scroll {
  overflow-y: scroll;
  height: 295px;
}
