/* Fondos  de header y template */

.fondo {
  background: #17181c;
}

.fondo-template-html {
  background: #17181c;
}

/* subrayado titulo*/

.span--titulo {
  display: inline-block;
  position: relative;
  --green: #e5ff60;
}

.span--titulo:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.span--titulo:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*  nav  [es transparente :)] */

.barra--nav {
  background-color: transparent !important;
}

/* Botones nav  */

.button {
  position: relative;
  padding: 0.5em 1em;
  border: none;
  background-color: transparent;
  outline: 0;
  margin: 1em 0.8em;
}
.button.type1 {
  color: white;
}
.button.type1.type1::after,
.button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-color: transparent #e5ff60 #e5ff60 transparent;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-color: #e5ff60 transparent transparent #e5ff60;
}
.button.type1.type1:hover:after,
.button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

.slide {
  /* Animacion que no sirve por ahora  */
  animation-name: slidein;
  animation-direction: initial;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@keyframes slidein {
  from {
    top: 0px;
    left: -1000px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}

/* Cartas de Login y SignUp */
.content {
  width: 100%;
  padding: 15px;
}
.formulario {
  background: #fff;
  margin-top: 150px;
  padding: 3px;
}
h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}
input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.buttonSU {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.buttonSU:hover {
  background: cadetblue;
}
p {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}
.link:hover {
  color: cadetblue;
}
@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}

/*cards*/
.card-img-top {
  height: 280px;
  width: 100%;
  border: none;
}
.bodyCard {
  background-color: #ffffff;
  border: none;
}
.bodyCard:hover {
  border: none;
  box-shadow: 0px 30px 45px 10% #161616;
}
.titulo {
  color: #1a2537;
}
.texto {
  justify-content: center;
}
.btnDetails {
  padding: 2px;
}
